---
title: Progress Component
description: showcase embedded components
date: 2021-05-11 05:21:00
categories:
- Education
- Computer Science
tags:
- tutorial
- svelte
- svelte kit
---

# test

## {description}

<Progress />

<script>
    import Progress from '$lib/Progress.svelte';
</script>